body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: green;
    box-sizing: border-box;
}

.main{
    margin-top: 40px;
    /* max-width: 1200px; */
    width: 100%;
    margin: 30px auto;
    height: 100vh;
}



.digits{
    max-width: 1200px;
    width: 700px;
    margin: 0 auto;
}

.no{
    width: 150px;
    height: 100px;
    margin-top: 20px;
    font-size: 35px;
    border: 2px black solid;
    background-color: rgb(37, 35, 35);
    color: rgb(188, 102, 102);
    padding: 0 2px 0 2px;
    cursor: pointer;
    border-radius: 0 20px;
    text-align: center;
}

.display{
    border: 2px solid black;
    width: 100%;
    margin-right: 10px;
    height: 20vh;
    background-color: rgb(81, 75, 75);
    border-radius: 0 20px;
    font-size: 30px;
    text-align: left;
    padding: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.clr{

    width: 150px;
    height: auto;
    border-radius: 0 20px;
    margin: 0 auto;
    font-size: 35px;
    border: 2px black solid;
    background-color: rgb(37, 35, 35);
    color: rgb(188, 102, 102);
    padding: 0 2px 0 2px;
    cursor: pointer;
    text-align: center;
}

.display-c{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 620px;
    max-width: 700px;
}

